<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div id="image-carousel" class="relative overflow-hidden">
        <div class="carousel-inner">
            <img class="w-full h-auto" th:src="${'img/scraper_gui/0.png'}" alt="Image 1">
            <img class="w-full h-auto" th:src="${'img/scraper_gui/1.png'}" alt="Image 2">
            <!-- Add more images as needed -->
        </div>
        <button class="swiper-button-prev">Previous</button>
        <button class="swiper-button-next">Next</button>

    </div>


</body>
</html>