<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Nikola Tutić</title>
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}">
        <link rel="stylesheet" th:href="@{/css/Lato.css}">
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link th:href="@{/css/dots.css}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
        <script th:src="@{/js/jquery-ui.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/slick.min.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}"/>
        <style>
            body {
                font-family: 'Lato', sans-serif;
                font-size: 18px;
                font-style: normal;
            }
        </style>
        <!-- Dev -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-gray-100 text-center">
        <header class="fixed top-0 w-full z-20">
            <nav class="bg-white shadow-lg border-b border-gray-300">
                <div class="container mx-auto flex md:justify-center py-4 md:py-10 px-10 md:px-32">
                    <div class="hidden md:flex space-x-12">
                        <ul class="flex space-x-12">
                            <li><a th:href="@{'/' + ${#locale.language == 'en' ? 'fr' : 'en'}}" th:text="${#locale.language == 'en' ? 'FR' : 'EN'}" class="text-gray-600 hover:font-bold">EN</a></li>
                            <li><a href="#about" th:text="#{nav.about}" class="text-gray-600 hover:font-bold">About</a></li>
                            <li><a href="#portfolio" th:text="#{nav.portfolio}" class="text-gray-600 hover:font-bold">Portfolio</a></li>
                            <li><a href="#education" th:text="#{nav.education}" class="text-gray-600 hover:font-bold">Education</a></li>
                            <li><a href="#work" th:text="#{nav.work}" class="text-gray-600 hover:font-bold">Work Experience</a></li>
                            <li><a href="#contact" th:text="#{nav.contact}" class="text-gray-600 hover:font-bold">Contact</a></li>
                        </ul>
                    </div>

                    <div class="flex justify-between w-full md:hidden">
                        <div class="align-middle z-49 ml-4"> <!-- added ml-4 to ensure some space -->
                            <a th:href="'/' + ${#locale.language == 'en' ? 'fr' : 'en'}" th:text="${#locale.language == 'en' ? 'FR' : 'EN'}" class="block py-1 px-4 text-gray-600 hover:font-bold">EN</a>
                        </div>
                        <button id="mb-show" class="align-middle z-49 mr-4"> <!-- added mr-4 to ensure some space -->
                            <img th:src="@{/img/menu.png}" width="30" height="30"/>
                        </button>
                        <div id="mb-menu" class="absolute hidden w-screen top-0 left-0 z-50 shadow-lg border-b border-gray-300">
                            <ul>
                                <li><a href="#about" th:text="#{nav.about}" class="block py-1 px-4 bg-white text-gray-600 hover:bg-gray-200 hover:font-bold">About</a></li>
                                <li><a href="#portfolio" th:text="#{nav.portfolio}" class="block py-1 px-4 bg-white text-gray-600 hover:bg-gray-200 hover:font-bold">Portfolio</a></li>
                                <li><a href="#education" th:text="#{nav.education}" class="block py-1 px-4 bg-white text-gray-600 hover:bg-gray-200 hover:font-bold">Education</a></li>
                                <li><a href="#work" th:text="#{nav.work}" class="block py-1 px-4 bg-white text-gray-600 hover:bg-gray-200 hover:font-bold">Work Experience</a></li>
                                <li><a href="#contact" th:text="#{nav.contact}" class="block py-1 px-4 bg-white text-gray-600 hover:bg-gray-200 hover:font-bold">Contact</a></li>
                                <li id="mb-hide" class="block py-1 px-4 bg-white text-gray-600 hover:bg-gray-200 hover:font-bold">
                                    <button>
                                        <img th:src="@{/img/up.png}" width="30" height="30" class="z-50"/>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </nav>
        </header>

        <div id="filler" class="container py-7 md:py-14"></div>
        <div class="container mx-auto">

            <section id="about" class="justify-center bg-white rounded-lg shadow-lg mx-auto my-6 py-10 px-10 md:px-20 w-full md:w-3/4">
                <h1 th:text="#{nav.about}" class="text-2xl">About</h1>
                <div class="grid grid-cols-2 text-center">
                    <div class="container md:text-right my-3 md:px-4">
                        <p th:text="#{about.who}" class="text-gray-500">Who</p>
                        <p>Nikola Tutić</p>
                        <p th:text="#{about.who_content}">About me</p>
                    </div>
                    <div class="md:text-left my-3 md:px-4">
                        <p th:text="#{about.where}" class="text-gray-500">Where</p>
                        <p>Montréal (QC), Canada</p>
                        <a href = "mailto: contact@tutic.ca"  class="text-gray-600 underline hover:font-bold">contact@tutic.ca</a>
                    </div>
                </div>
                <div class="grid grid-cols-3 items-center">
                    <div class="container my-3 md:px-4 flex flex-col items-center md:items-end">
                        <p th:text="#{about.cv}" th:class="'text-gray-500' + ${#locale.language == 'en' ? ' pr-2' : ' pr-7'}">CV</p>
                        <a th:href="#{about.cv_url}" target="_blank">
                            <img th:src="@{/img/pdf.png}" class="m-2 w-16 h-16">
                        </a>
                    </div>

                    <div class="container my-3 gap-0 flex flex-col items-center md:items-center">
                        <p class="text-gray-500">Code</p>
                        <a href="https://github.com/ntutic" target="_blank">
                            <img th:src="@{/img/github.png}" class="m-2 w-16 h-16">
                        </a>
                    </div>

                    <div class="container my-3 md:px-4 flex flex-col items-center md:items-start">
                        <p class="text-gray-500">Freelance</p>
                        <a href="https://www.upwork.com/freelancers/~01d06d647eb569a541" target="_blank">
                            <img th:src="@{/img/upwork.png}" class="m-2 w-16 h-16">
                        </a>
                    </div>
                </div>

            </section>

            <section id="portfolio" class="text-sm md:text-base bg-white rounded-lg shadow-lg mx-auto my-6 py-10 px-5 md:px-20 w-full md:w-3/4">
                <h1 th:text="#{nav.portfolio}" class="text-2xl">Portfolio</h1>
                <ol class="items-center justify-center flex flex-wrap -mx-2">
                        <button class="filter-button m-2 px-4 py-1 bg-gray-300 rounded-full" data-tag="Python">Python</button>
                        <button class="filter-button m-2 px-4 py-1 bg-gray-300 rounded-full" data-tag="JavaScript">JavaScript</button>
                        <button class="filter-button m-2 px-4 py-1 bg-gray-300 rounded-full" data-tag="Java">Java</button>
                        <button class="filter-button m-2 px-4 py-1 bg-gray-300 rounded-full" data-tag="SQL">SQL</button>
                        <button class="filter-button m-2 px-4 py-1 bg-gray-300 rounded-full" data-tag="VBA">VBA</button>
                </ol>
                <ol class="items-center justify-center flex flex-wrap -mx-2">
                    <button class="filter-button m-2 px-4 py-1 bg-gray-300 rounded-full" data-tag="Desktop">Desktop</button>
                    <button class="filter-button m-2 px-4 py-1 bg-gray-300 rounded-full" data-tag="Web">Web</button>
                    <button class="filter-button m-2 px-4 py-1 bg-gray-300 rounded-full" data-tag="Plugin">Plugin</button>
                    <button class="filter-button m-2 px-4 py-1 bg-gray-300 rounded-full" data-tag="GIS">GIS</button>
                    <button class="filter-button m-2 px-4 py-1 bg-gray-300 rounded-full" data-tag="Cloud">Cloud</button>
                </ol>

                <div class="container grid grid-cols-1 md:grid-cols-2">
                    <div class="project shadow-lg border border-gray-300 rounded relative m-1 md:m-3" th:each="project: ${projects}">
                        <h2 th:text="${project.title}">Title</h2>
                        <div class="image-carousel">
                            <div th:each="alt, stat: ${project.alts}">
                                <img class="h-full w-full object-cover z-0 relative p-4" th:src="@{'/img/' + ${project.imageDir} + '/' + ${stat.index + 1} + '.png'}" >
                                <p class="text-center mt-2" th:text="${alt}">Subtitle</p>
                            </div>
                        </div>
                        <ol class="flex flex-wrap items-center justify-center">
                            <li th:each="tool: ${project.tools}" th:attr="data-tag=${tool}" th:text="${tool}" class="m-2 px-4 py-1 bg-gray-300 rounded-full">Tool</li>
                        </ol>
                        <a th:if="${!#strings.isEmpty(project.link)}" th:href="${project.link}" target="_blank" class="flex items-center justify-center">
                            <img th:src="@{'/img/' + ${project.icon}}" class="m-2 w-16 h-16">
                        </a>
                    </div>
                </div>
            </section>

            <section id="education" class="bg-white rounded-lg shadow-lg mx-auto my-6 py-10 px-10 md:px-20 w-full md:w-3/4">
                <h1 th:text="#{nav.education}" class="text-2xl">Education</h1>
                <div class="grid grid-cols-2 my-3" th:each="diploma: ${diplomas}">
                    <div class="container text-right pr-4">
                        <p th:text="${diploma.school}" class="text-gray-500">School</p>
                        <a th:text="${diploma.diploma}" th:href="${diploma.url}" class="underline hover:font-bold">Diploma</a>
                        <p th:text="${diploma.extra}">Extra</p>
                    </div>
                    <div class="container text-left pl-4">
                        <p th:text="${diploma.period}" class="text-gray-500">Start - End</p>
                        <p th:text="${diploma.location}" class="text-gray-500">Location</p>
                    </div>
                </div>
            </section>

            <section id="work" class="bg-white rounded-lg shadow-lg mx-auto my-6 py-10 px-10 md:px-20 w-full md:w-3/4">
                <h1 th:text="#{nav.work}" class="text-2xl">Work Experience</h1>
                <div  th:each="job: ${jobs}">
                    <div class="grid grid-cols-2 mt-3">
                        <div class="container text-right pr-4">
                            <a th:text="${job.employer}" th:href="${job.url}" target="_blank" class="text-gray-600 underline hover:font-bold visited:text-purple-600">Employer</a>
                            <p th:text="${job.title}" class="text-gray-600">Title</p>
                        </div>
                        <div class="container text-left pl-4">
                            <p th:text="${job.period}" class="text-gray-600">Start - End</p>
                            <p th:text="${job.location}" class="text-gray-600">Location</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <p th:text="${job.description}">Description</p>
                        <a th:text="${job.urlText}" th:href="${job.urlLink}" target="_blank" class="underline text-gray-600 font-bold hover:font-bold visited:text-purple-600">URL</a>
                    </div>
                </div>
            </section>

            <section id="contact" class="bg-white rounded-lg shadow-lg mx-auto my-6 py-10 px-10 md:px-20 w-full md:w-3/4">
                <h1 th:text="#{nav.contact}" class="text-2xl">Contact</h1>
                <form id="contact-form" th:action="@{/contact}" method="post" th:object="${message}">
                    <div class="grid grid-cols-2 my-1">
                        <label th:text="#{contact.write}" class="my-1 text-right pr-4">Write</label>
                        <a href = "mailto: contact@tutic.ca"  class="text-gray-600 underline hover:font-bold text-left my-1 ml-4 w-7/8 md:w-1/2">contact@tutic.ca</a>
                    </div>
                    <div class="grid grid-cols-2 my-1">
                        <label th:text="#{contact.name}" class="my-1 text-right pr-4">Name</label>
                        <input type="text" th:field="*{name}" class="shadow-lg border border-gray-300 rounded my-1 ml-4 pl-2 w-7/8 md:w-1/2"/>
                    </div>
                    <div class="grid grid-cols-2 my-1">
                        <label th:text="#{contact.mail}" class="my-1 text-right pr-4">E-mail</label>
                        <input type="email" th:field="*{email}" class="shadow-lg border border-gray-300 rounded my-1 ml-4 pl-2 w-7/8 md:w-1/2"/>
                    </div>
                    <div class="grid grid-cols-2 my-1">
                        <label th:text="#{contact.phone}" class="my-1 text-right pr-4">Phone</label>
                        <input type="tel" th:field="*{phone}" class="shadow-lg border border-gray-300 rounded my-1 ml-4 pl-2 w-7/8 md:w-1/2"/>
                    </div>
                    <div class="grid grid-cols-2 my-1">
                        <label th:text="#{contact.content}" class="my-1 text-right pr-4">Message</label>
                        <textarea rows="3" cols="25" th:field="*{content}" class="shadow-lg border border-gray-300 rounded my-1 ml-4 pl-2 w-7/8 md:w-1/2"/>
                    </div>
                    <div class="grid grid-cols-2 my-1">
                        <span></span>
                        <button th:text="#{contact.button}" th:alt="#{contact.sending}" type="submit" id="contact-submit" class="shadow-lg border border-gray-300 rounded my-1 ml-4 pl-2 w-7/8 md:w-1/2">Send</button>
                    </div>
                </form>
            </section>
        </div>
    </body>

    <script>
        $(document).ready(function() {
            // Image carousels
            $('.image-carousel').slick({
                dots: true,
                arrows: true,
                prevArrow: '<button class="slick-prev flex items-center justify-center w-8 h-8 font-bold text-2xl absolute top-1/2 transform -translate-y-1/2 left-0 bg-gray-500 bg-opacity-50 p-2 rounded-full z-10 ml-4" aria-label="Previous" type="button"><</button>',
                nextArrow: '<button class="slick-next flex items-center justify-center w-8 h-8 font-bold text-2xl absolute top-1/2 transform -translate-y-1/2 right-0 bg-gray-500 bg-opacity-50 p-2 rounded-full z-10 mr-4" aria-label="Next" type="button">></button>',
            })

            // Smooth scroll for navbar
            let offset;
            if (window.innerWidth >= 768) {
                 offset = 125;
            } else {
                offset = 80;
            }
            $('a[href^="#"]').on('click', function(event) {
                let target = $(this.getAttribute('href'));
                if (history.pushState) {
                    history.pushState(null, null, this.getAttribute('href'));
                } else {
                    location.hash = this.getAttribute('href');
                }
                if (target.length) {
                    event.preventDefault();
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top - offset/* Navbar's height */
                    }, 500);
                }
            });

            // Mobile menu toggle
            $("#mb-show").click(function() {
                $("#mb-menu").show("slide", {direction: "up"}, 200);
            });
            $("#mb-hide").click(function() {
                $("#mb-menu").hide("slide", {direction: "up"}, 200);
            });
            $("#mb-menu a").click(function() {
                $("#mb-menu").hide("slide", {direction: "up"}, 200);
            });

            // Project toggles
            let activeTags = new Set();
            $('.filter-button').on('click', function() {
                const tag = $(this).data('tag');
                if (activeTags.has(tag)) {
                    activeTags.delete(tag);
                    $(this).removeClass('active');
                    $(this).removeClass('bg-gray-500').addClass('bg-gray-300');
                } else {
                    activeTags.add(tag);
                    $(this).addClass('active');
                    $(this).removeClass('bg-gray-300').addClass('bg-gray-500');
                }
                $('.project').each(function() {
                    const card = $(this);
                    let cardHasActiveTag = false;
                    card.find('li').each(function() {
                        if (activeTags.has($(this).data('tag'))) {
                            cardHasActiveTag = true;
                        }
                    });
                    if (cardHasActiveTag || activeTags.size === 0) {
                        card.show();
                    } else {
                        card.hide();
                    }
                });
            });

            $('#contact-form').on('submit', function(e) {
                e.preventDefault();
                let $submitButton = $('#contact-submit');

                let originalButtonText = $submitButton.text();
                console.log($submitButton.attr("alt"));
                $submitButton.text($submitButton.attr("alt"));
                $submitButton.prop('disabled', true);
                $.ajax({
                    url: $(this).attr('action').replace("/tutic_portfolio", ""),
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                       alert(response);
                    },
                    error: function() {
                        // Handle error scenario, e.g., network error
                        alert('An error occurred. Please try again later.');
                    },
                    complete: function() {
                        $submitButton.text(originalButtonText);  // Restore the original button text
                        $submitButton.prop('disabled', false);  // Re-enable the button
                    }
                });
            });
        });

    </script>
</html>
